[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mergen"]
	path = mergen
	url = https://github.com/cran/mergen
[submodule "methylKit"]
	path = methylKit
	url = https://github.com/al2na/methylkit
